---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import Paragraph from "../components/Paragraph.astro";
import { jobs } from "../data/jobs";
import { Icons } from "../data/Icons";
export async function getStaticPaths() {
  const paths = jobs.map((item) => ({
    params: { job: item.id },
  }));

  return paths;
}

const { job } = Astro.params;
const info = jobs.find((b) => b.id === job);

if (!info) {
  return Astro.redirect("/404");
}

const CARD_JOB_DESCRIPTION = [
  {
    component: Icons.employeeType,
    title: "Tipo de Empleo:",
    desc: "Tiempo completo",
  },
  {
    component: Icons.location,
    title: "Ubicación:",
    desc: "Morelia, Mich.",
  },
  {
    component: Icons.jobType,
    title: "Puesto:",
    desc: info.position,
  },
  {
    component: Icons.experience,
    title: "Experiencia:",
    desc: info.experienceTime,
  },
  {
    component: Icons.salary,
    title: "Salario:",
    desc: "Según experiencia",
  },
];
---

<Layout title={`Jobs | ${info.id}`}>
  <Container>
    <div class="relative grid md:grid-cols-12 grid-cols-1 gap-[30px] top-32">
      <div class="lg:col-span-4 md:col-span-6">
        <div
          class="shadow dark:shadow-gray-700 rounded-md bg-white dark:bg-slate-900 sticky top-32"
        >
          <div class="p-6">
            <h5 class="text-xl font-semibold dark:text-white">
              Información de la vacante
            </h5>
          </div>
          <div class="p-6 border-t border-slate-100 dark:border-t-gray-700">
            <ul class="list-none">
              {
                CARD_JOB_DESCRIPTION.map(({ component: Icon, title, desc }) => {
                  return (
                    <li class="flex items-center mt-3">
                      <Icon />
                      <div class="ms-4">
                        <p class="font-medium dark:text-white">{title}</p>
                        <span class="text-primary font-medium text-sm dark:text-gray-300">
                          {desc}
                        </span>
                      </div>
                    </li>
                  );
                })
              }
            </ul>
          </div>
        </div>
      </div>

      <div class="lg:col-span-8 md:col-span-6">
        <h5 class="text-xl font-semibold mt-6 dark:text-white">
          Descripción de Trabajo:
        </h5>
        <Paragraph styles="mt-4" body={info.desc} />

        <h5 class="text-xl font-semibold mt-6 dark:text-white">
          Responsabilidades / Obligaciones:
        </h5>
        <ul class="list-none">
          {
            info.responsabilities.map((item) => (
              <li class="text-black mt-2 list-disc dark:text-gray-300">{item}</li>
            ))
          }
        </ul>

        <h5 class="text-xl font-semibold mt-6 dark:text-white">
          Destrezas / Competencias:
        </h5>
        <ul class="list-none">
          {
            info.skills.map((item) => (
              <li class="text-black mt-2 list-disc dark:text-gray-300">{item}</li>
            ))
          }
        </ul>

        <!-- 
          BOTON PARA APLICAR REDIRIGIR A CONTACTO
          <div class="mt-5">
          <a
            href="job-apply.html"
            class="btn rounded-md bg-emerald-600 hover:bg-emerald-700 border-emerald-600 hover:border-emerald-700 text-white md:ms-2 w-full md:w-auto"
            >Apply Now</a
          >
        </div> -->
      </div>
    </div>
  </Container>
</Layout>
